{{define "signup"}}
<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <link rel="icon" href="/static/image/icon.png" type="image/png" sizes="32x32">
  <link rel="stylesheet" href="/static/css/signup.css">
</head>
<body>
  <a href="/">Home</a>
  <div class="login-box">
    <h2>Sign up</h2>
    <p class="message">{{.}}</p>
    <form action="/signUp" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" maxlength="18" minlength="2" pattern="^[a-zA-Z\d]+$" required />
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required/>
        <label for="password2">Repeat password</label>
        <input type="password" name="password2" id="password2" required/>
        <p>Do you have an account? <a href="/signIn">Sign in</a></p>
        <input type="submit" value="Sign up" />
    </form>
  </div>
</body>
</html>
{{end}}