@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
body {
    font-family: "Manrope", sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    padding-bottom: 10px;
    text-align: center;
    color: #6b5f5f;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #6b5f5f;
}

p {
    text-align: center;
    color: red;
}

label {
    display: block;
    padding-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #6b5f5f;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px;
    background-color: #6b5f5f;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.categories {
    margin-top: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}